*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
   
}

html,body{
    height: 100%;
    width: 100%;
  background-image: linear-gradient(
    to right top,
    
  );
}
.content {
    height: 100vh;
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
button{
  border-radius: 5px;
}

